.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.windows h3.page-title {
    font-size: 25px;
    line-height: 30px;
}

.form-control, .form-group-default {
    border: 1px solid rgba(0, 0, 0, 0.10);
}

.form-group-default.focused, .form-control:focus {
    background-color: #f5f5f5;
}

/*
.dropzone {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 0px;
}
*/

.dropzone-previews {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-top: none;
  margin-top: 0;
  min-height: 180px;
  position: relative;
  overflow: hidden;
  background: #FAFAFA;
}

.panel-gallery {
  padding: 6px 12px 4px;
  margin-bottom: 0;
}

/*
.form-group-map {
  margin-bottom: 0px;
}
*/

.label-custom-tag {
  background-color: #AEB4C1;
}

.social-post-title h5 {
  font-weight: normal;
}

.social-facebook-title {
  color: #3b5998;
}

.social-twitter-title {
  color: #55acee;
}

.master-checkbox-all .checkbox {
  margin-bottom: 0px;
  margin-top: 0px;
}

.checkbox .label-master {
  font-weight: 600;
}

.form-group-area .form-control {
  height: auto;
}

.panel-default > .panel-heading {
  color: #626262;
}

.checkbox input[type="checkbox"]:focus + label {
    color: #626262;
}

.form-group-default .form-control-image {
  margin-top: 0px;
}

.btn-file-image input[type=file] {
  top: 0;
  right: 0;
  margin-top: 0;
}

.new-branch {
  font-size: 13px;
}

/*
.form-group-area {
    overflow: hidden;
    position: relative;
    transition: background-color 0.2s ease 0s;
}

.form-group-area.required::after {
    color: #f55753;
    content: "*";
    font-family: arial;
    font-size: 20px;
    position: absolute;
    right: 12px;
    top: 6px;
}
*/
