/* thai */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 100;
  src: local('Kanit Thin'), local('Kanit-Thin'), url(https://fonts.gstatic.com/s/kanit/v1/9W_RhJFU_6bjVXSt5h5wpPY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200B-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 100;
  src: local('Kanit Thin'), local('Kanit-Thin'), url(https://fonts.gstatic.com/s/kanit/v1/QSv6khQ7K1xOCGugoXGzPvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 100;
  src: local('Kanit Thin'), local('Kanit-Thin'), url(https://fonts.gstatic.com/s/kanit/v1/Y6uJGZfUft-zH3Hk_x7ljfY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 100;
  src: local('Kanit Thin'), local('Kanit-Thin'), url(https://fonts.gstatic.com/s/kanit/v1/9mc1eFBC6whiP297Oi1KKA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* thai */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 200;
  src: local('Kanit ExtraLight'), local('Kanit-ExtraLight'), url(https://fonts.gstatic.com/s/kanit/v1/H2uw-adGyIIXNapOSlw5XRTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200B-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 200;
  src: local('Kanit ExtraLight'), local('Kanit-ExtraLight'), url(https://fonts.gstatic.com/s/kanit/v1/GlwqxL8e4uUk1yTTqmypsBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 200;
  src: local('Kanit ExtraLight'), local('Kanit-ExtraLight'), url(https://fonts.gstatic.com/s/kanit/v1/VnvRJEDa2zociVhyX9G4QhTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 200;
  src: local('Kanit ExtraLight'), local('Kanit-ExtraLight'), url(https://fonts.gstatic.com/s/kanit/v1/ILRJxvacvDA7qSNYAE2Em_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* thai */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  src: local('Kanit'), local('Kanit-Regular'), url(https://fonts.gstatic.com/s/kanit/v1/RPQGAQk3DD66RypwKRnBKQ.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200B-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  src: local('Kanit'), local('Kanit-Regular'), url(https://fonts.gstatic.com/s/kanit/v1/dTsnx5aTJLsh5XJEX4lpTw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  src: local('Kanit'), local('Kanit-Regular'), url(https://fonts.gstatic.com/s/kanit/v1/2fzaAAzWW07YitDl-NekHg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  src: local('Kanit'), local('Kanit-Regular'), url(https://fonts.gstatic.com/s/kanit/v1/5NAKUBdE3Nb95aTaJlZOXQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* thai */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 500;
  src: local('Kanit Medium'), local('Kanit-Medium'), url(https://fonts.gstatic.com/s/kanit/v1/oArYK_4Uh0OdBYA11_h0OxTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200B-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 500;
  src: local('Kanit Medium'), local('Kanit-Medium'), url(https://fonts.gstatic.com/s/kanit/v1/k3PyxwcO82bD49MyqzQC8xTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 500;
  src: local('Kanit Medium'), local('Kanit-Medium'), url(https://fonts.gstatic.com/s/kanit/v1/UvkE30TmWcD07ESVQhHR5hTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 500;
  src: local('Kanit Medium'), local('Kanit-Medium'), url(https://fonts.gstatic.com/s/kanit/v1/RHqh14DjcvgZGJknoCzKXvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* thai */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 700;
  src: local('Kanit Bold'), local('Kanit-Bold'), url(https://fonts.gstatic.com/s/kanit/v1/2ItEkCZRpGWswz4hC7YXrBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200B-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 700;
  src: local('Kanit Bold'), local('Kanit-Bold'), url(https://fonts.gstatic.com/s/kanit/v1/ARXP8ryYnm0HB4OMotUIMxTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 700;
  src: local('Kanit Bold'), local('Kanit-Bold'), url(https://fonts.gstatic.com/s/kanit/v1/v2dZymaF-WsiUJ5PrWcjTxTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 700;
  src: local('Kanit Bold'), local('Kanit-Bold'), url(https://fonts.gstatic.com/s/kanit/v1/mEn4jJ-yZGnuuUYbIaJjw_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* thai */
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 100;
  src: local('Kanit Thin Italic'), local('Kanit-ThinItalic'), url(https://fonts.gstatic.com/s/kanit/v1/HTjMDkRIoVzAiw08W7-EVBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200B-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 100;
  src: local('Kanit Thin Italic'), local('Kanit-ThinItalic'), url(https://fonts.gstatic.com/s/kanit/v1/zp289BBMzQgFO_egdjLpbxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 100;
  src: local('Kanit Thin Italic'), local('Kanit-ThinItalic'), url(https://fonts.gstatic.com/s/kanit/v1/_LYK8cqha6THOI0ZAQ0nFxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 100;
  src: local('Kanit Thin Italic'), local('Kanit-ThinItalic'), url(https://fonts.gstatic.com/s/kanit/v1/-zkpKr1CqKVn_t92HtMzdltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body, .color-body {
    color: #7f8c90 !important;
}

#infscr-loading { position: absolute; bottom: 0; width: 100%; text-align: center;  margin-top: 30px;}
#infscr-loading img, #infscr-loading div { position: relative; margin: 0 auto; margin-top: 100px; padding-top: 100px;}

.breadcrumb-header .bread_cate_name, .breadcrumb-header .bread_tag_name {
  font-size: 25px;
  font-weight: 400;
  line-height: 40px;
}

.social-wrapper .social-element .jumbotron {
    height: 40vh;
}

.bg-write {
  background: #fff;
}

.align-right {
  text-align: right;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6,
.text-master,
.page-sidebar .sidebar-menu .menu-items > li > a,
.copyright,
.header .search-link,
.breadcrumb,
.breadcrumb a {
  font-family: 'Kanit';
  font-weight: normal;
}

.windows body, .windows p {
    font-size: 14px;
}

.windows p.list-brief {
  font-size: 13px;
}

.modal .modal-header {
  padding: 25px 25px 15px;
  border-bottom: 1px solid #e5e5e5;
}

.breadcrumb span {
  font-weight: normal;
}

.thumbnail-wrapper.d100 {
    height: 100px;
    width: 100px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 5px 0 10px 0;
    color: #444;
}

.form-contact .contact-area {
  width: 100%;
  height: 80px;
}

.register-container.form-contact {
    width: 50%;
}

.result_pro, .result_map {
    color: #5a6779;
}

.pg-map-lg {
  padding-left: 3px;
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.brand-master-social p {
  margin-bottom: 5px;
  height: 25px;
}

.brand-master-social a {
  height: 25px;
  clear: both;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.brand-master-social i {
  color: #8d959c;
  float: left;
  padding-top: 5px;
  width: 25px;
}

.feed .day .btntoggle {
  color: #8d959c;
}

.overlay {
  padding-left: 0px;
}

.feed .day a.card_title, .card-relate a.card_title, a.tag, .card-relate-body a.card_title {
  color: #1b9ad1;
}

.feed .day a.card_title:hover, .card-relate a.card_title:hover, a.tag:hover, .card-relate-body a.card_title:hover {
  color: #167ba7;
}

.copyright {
    width: 100%;
    padding: 10px;
}

.card_footer {
  font-size: 0.9em;
  border-top: 1px solid #e6e6e6;
}

.card_footer a.text-info-link, .relate a.footer-relate {
  color: #8d959c;
}

.card_footer a.text-info-link:hover, a.relate .footer-relate:hover {
  color: #1b9ad1;
}

a.text-info-link span {
  display: none; /* hidden under constructor*/
}

a.text-info-link.heart:hover {
    color: #EB0188;
}

body.menu-behind .header .brand {
    width: 120px;
    padding-left: 0px;
    margin-left:  80px;
    border-right: 1px solid #ededed;
}

.nav-logo > a {
    background: rgba(0, 0, 0, 0) linear-gradient(to right bottom, #c09, #f42 85%) repeat scroll 0 0;
    display: block;
    padding: 16px 20px;
    height: 60px;
    width: 106px;
    will-change: height;
}

.nav-logo-center > a {
  background: none;
}

.body-brief {
  padding-left: 10px;
}

a.category-brand-url {
  color: #666;
}

a.category-brand-url:hover {
  color: #333;
}

a.category-event-url, a.relate-category-url {
  color: #8d959c;
}

a.category-event-url:hover, a.relate-category-url:hover {
  color: #767C82;
}

a.brand-event-url, a.relate-brand-url {
  color: #0DAD9E;
}

a.brand-event-url:hover, a.relate-brand-url:hover {
  color: #10CFBD;
}

/* social share */
.btn-social-group {
  height: 22px;
  line-height: 12px;
  /*display: inline-block;*/
}

.btn-social-group .btn-social {
  position: relative;
  margin-right: 5px;
  vertical-align: top;
}

.btn-social-group .btn-twitter {
  /*position: relative;
  top: 0.45em;*/
  margin-right: 1px;
}

.brand-master-border {
  border-bottom: 1px solid #e6e6e6;
}

.feed .day a.brand-event-url, .brand-master a.brand-event-url {
  color: #626262;
}

.feed .day a.brand-event-url:hover, .brand-master a.brand-event-url:hover {
  color: #929292;
}

/* nav */
ol, ul {
    list-style: outside none none;
}

.nav-follow {
    display: block;
    float: right;
    margin-right: 20px;
    margin-top: 5px;
    padding: 0;
}

.nav-follow-footer {
  width: 100%;
  text-align: right;
}

.nav-follow-footer a {
    padding-left: 10px;
}

.nav-follow li {
  float: left;
  padding-left: 15px;
}

.nav-follow li a i, .nav-follow-footer a {
  color: #aaa;
}

.nav-follow li a:hover i, .nav-follow-footer a:hover {
  color: #888;
}

.breadcrumb {
  padding: 8px 15px;
}

.breadcrumb a {
  font-size: 12px !important;
}

.breadcrumb a.active {
    font-weight: 400;
}

.item-header p {
  line-height: 17px;
}

.windows .jumbotron p {
    font-size: 12px;
}

.map-event-list .relate-event-header {
  height: 25px;
}

.map-event-list .relate-event-body {
  clear: both;
  float: left;
}

/*
.page-sidebar {
  margin-top: 47px;
}
*/

/*.icon-thumbnail {
    height: 45px;
    width: 45px;
    line-height: 45px;
}
.icon-thumbnail > i.fa-home {
    font-size: 2em;
    margin-top: 5px;
}

.icon-category .fa {
  font-size: 2em;
  margin-top: 5px;
}

.page-sidebar .sidebar-menu .menu-items > li > a {
    line-height: 45px;
    min-height: 45px;
}

.page-sidebar .sidebar-menu {
    height: calc(100% - 20px);
}
*/

.page-sidebar .sidebar-menu .menu-items li > .icon-thumbnail > i {
  color: #fff;
  opacity: 0.8;
}

.page-sidebar .sidebar-menu .menu-items li:hover > .icon-thumbnail > i,
.page-sidebar .sidebar-menu .menu-items li.open > .icon-thumbnail > i,
.page-sidebar .sidebar-menu .menu-items li.active > .icon-thumbnail > i,
 {
    color: #fff;
    opacity: 1.0;
}

.page-sidebar .sidebar-menu .menu-items li > a {
  width: 70%;
}

.page-sidebar .sidebar-menu .menu-items > li > a > .title {
    width: 100%;
    font-size: 0.9em;
}

/*.page-sidebar .sidebar-menu .menu-items > li > span.title-header-category {
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
  min-height: 40px;
  padding: 0 3px 0 32px;
}*/

.page-sidebar .sidebar-menu .menu-items > li > span.title-header-category {
  font-size: 12px;
  font-weight: bold;
  line-height: 40px;
  min-height: 40px;
  padding: 0 3px 0 32px;
}

.page-sidebar .sidebar-menu .menu-items > li > .icon-thumbnail img {
  opacity: 0.8;
}

.page-sidebar .sidebar-menu .menu-items > li:hover > .icon-thumbnail img, .page-sidebar .sidebar-menu .menu-items > li:hover > a {
    opacity: 1.0;
}

h2, .windows h2 {
  /*font-size: 1.9em;*/
  font-weight: 500;
  line-height: 30px;
}

h3, .windows h3, h4, .windows h4, h5, windows.h5 {
  /*font-size: 1.3em;*/
  font-size: 25px;
  line-height: 25px;
  font-weight: 400;
}

/* brand */
.branch_list .branch_name_list {
  padding-right:  30px;
  position: relative;
}

.branch_list .btn_branch_action {
  position: absolute;
  top: 0;
  right: 0;
}

form .row .branch_list .branch_row {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 10px;
}

.branch_list .branch_row .btn-xs {
    padding: 2px 6px;
    line-height: 1.5;
}

.hint-text-8 {
  opacity: 0.8;
}

.hint-text-9 {
  opacity: 0.9;
}

.event-branch-list {
  /*font-size: 0.9em;*/
  font-size: 1em;
}

.p-b-t-1 {
  border-top: 1px solid #ddd;
}

h3.page-title, .windows h3.page-title {
  font-size: 25px;
  line-height: 30px;
}

.form-control, .form-group-default {
  border: 1px solid rgba(0, 0, 0, 0.10);
}

.form-group-default.focused, .form-control:focus {
  background-color: #fff;
}

.form-group-default.has-error {
  background: none;
}

div.cs-skin-slide > span.error::after, div.cs-skin-slide.cs-active > span.error::after, .cs-select > span.error::after {
  content: none;
}

div.cs-skin-slide > span, div.cs-skin-slide .cs-options {
  z-index: 2;
}

div.cs-skin-slide .cs-options {
  /*padding: 10px 0 20px 10px;*/
}

div.cs-skin-slide > span.error {
  z-index: 1;
}

.category-select2 {
  font-size: 11px;
  font-weight: 600;
}

.category-select2.select2-container-active li.select2-search-choice {
  background-color: #aeb4c1 !important;
}

.category-select2 ul.select2-choices li.select2-search-choice {
  border-radius: 3px;
  background-color: #aeb4c1;
  color: #fff;
  padding: 3px 8px 8px 21px;
  margin: 8px 0 7px 5px;
}

.category-select2 ul.select2-choices li.select2-search-choice div {
  position: relative;
  padding-left: 5px;
  top: 2px;
}

.category-select2 .select2-choices li.select2-search-choice a.select2-search-choice-close {
  top: 5px;
}

.category-select2 .select2-choices li.select2-search-choice a.select2-search-choice-close::before {
  font-family: 'pages-icon';
  font-size: 11px;
  content: "\e60a";
  color: #fff;
}

.bootstrap-tagsinput .tag {
  padding: 4px 6px 4px 9px;
}

/* datatable */
table.dataTable thead .sorting_asc::after {
    background-image: url("../img/icons/sort_asc.png");
}
table.dataTable thead .sorting_desc::after {
    background-image: url("../img/icons/sort_desc.png");
}
table.dataTable thead .sorting::after {
    background-image: url("../img/icons/sort_both.png");
}
table.dataTable thead .sorting_asc_disabled::after {
    background-image: url("../img/icons/sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc_disabled::after {
    background-image: url("../img/icons/sort_desc_disabled.png");
}

form.dropzone {
  padding: 15px;
}

div.cs-skin-slide.cs-active {
    z-index: 999;
}

.dropzone-previews {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-top: none;
  margin-top: 0;
  min-height: 180px;
  position: relative;
  overflow: hidden;
  background: #FAFAFA;
}

.panel-gallery {
  padding: 6px 12px 4px;
  margin-bottom: 0;
}

.map-canvas {
  height: 400px; width: 100%;
}

.map-show {
  height: 500px; width: 100%;
}

.map-full {
  height: 800px; width: 100%;
}

/*.map-container .map-full {
  height: 100% !important;
}*/

/*
.page-content-wrapper .map-full {
  height: 100% !important;
}
*/

.map-controls {
  left: 10px;
  top: 105px;
}

.map-controls .btn-xs {
  padding: 2px 6px;
}

.label-custom-tag {
  background-color: #AEB4C1;
}

.social-post-title h5 {
  font-weight: normal;
}

.social-facebook-title {
  color: #3b5998;
}

.social-twitter-title {
  color: #55acee;
}

.master-checkbox-all .checkbox {
  margin-bottom: 0px;
  margin-top: 0px;
}

.checkbox .label-master {
  font-weight: 600;
}

.form-group-area .form-control {
  height: auto;
}

.panel-default > .panel-heading {
  color: #626262;
}

.checkbox input[type="checkbox"]:focus + label {
    color: #626262;
}

.form-group-default .form-control-image {
  margin-top: 0px;
}

.btn-file-image input[type=file] {
  top: 0;
  right: 0;
  margin-top: 0;
}

.new-branch {
  font-size: 13px;
}

.published_set_time .error {
  padding-left: 12px;
}

.cs-brand .cs-wrapper {
    display: inline-block;
    width: 100%;
}

.cs-brand .cs-skin-slide {
  width: 100%;
  max-width: 100%;
}

div.cs-select-brand, div.cs-select-contact {
  /*margin-top: 35px;*/
  max-width: 100%;
}

/* event gallery */
.fotorama > * {
  visibility: hidden;
}

.fotorama > .fotorama__wrap {
  visibility: visible;
}

.event-gallery .dialog__content {
  /*border: 1px solid #d4d4d5;*/
  background: #fff;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.event-gallery .dialog__content {
  text-align: center;
  padding: 10px;
  /*margin-bottom: 20px;*/
}

.event-gallery .dialog__conten .fotorama__nav::before, .fotorama__stage::before {
    background-image: none;
}

.event-gallery .dialog__conten .fotorama__nav::after, .fotorama__stage::after {
    background-image: none;
}

.quickview-wrapper.maps {
  top: 60px;
}

.quickview-wrapper.maps .quickview-toggle {
    top: 8px;
    right: 5px;
}

.quickview-wrapper.maps .nav-tabs {
    background-color: #f0f0f0;
    padding: 0 30px 0 10px;
}

.quickview-wrapper.maps .nav-tabs > li {
    width: 100%;
}

.quickview-wrapper.maps .nav-tabs > li > a {
  font-size: 14px;
  width: 100%;
  text-align: left;
  padding: 11px 0;
}

.quickview-wrapper.maps .nav-tabs > li > a > i {
  padding: 2px 5px 0 0;
}

.quickview-list {
  height: calc(100% - 50px);
  position: relative;
  width: 100%;
  /*margin-top: 30px;*/
}

.quickview-list .map-items {
  height: calc(100% - 10px);
  list-style: outside none none;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: relative;
  width: 100%;
}

.map-event-list {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.social .feed{
  /*padding-left: 15px;*/
}

.feed .day {
  margin: 0 auto !important;
  overflow: hidden;
}

.feed .day  .promotion-empty {
  overflow: visible;
}

/* no transition on .isotope container */

.feed .card {
  /* change duration value to whatever you like */
  /*-webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;*/
          /*width: 16.6667%;
          width: 25%;
          width: 33.3333%;
          width: 41.6667%;*/
}

.feed .card {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

/* clear fix */
.feed .day:after {
  content: '';
  display: block;
  clear: both;
}

.feed .day-list {
  margin-left: 17px;
  left: 30px;
  text-align: center;
}

.col-centered {
    margin: 10px;
    overflow: visible;
    float: left;
    display: inline;
    position: relative;
}

.col1-element {
  width: 300px;
}

.col2-element {
  width: 620px;
}

/*.card.col1 {
  width: 300px;
}*/

.card.col2, .card.col1 {
  display:inline-block;
  vertical-align: top;
  text-align: left;
}

.feed .card {
  /*margin-right: 16px;*/
  position: relative;
  /*left: 20px;*/
}

.card .slide img {
  height: 100%;
}

.ads {
  min-height: 400px;
  text-align: center;
}

.card-relate {
  width: 100%;
  margin-bottom: 10px;
}

.event-relate .relate-img-thumb, .row_result .search-img-thumb, .relate-event-image .relate-img-thumb{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-image: none;
    height: 250px;
}

.row_result .search-img-thumb {
  width: 100%;
  height: 60px;
}

.relate-event-image .relate-img-thumb {
  width: 100%;
  height: 120px;
}

.card-relate-body {
    border: 1px solid #e6e6e6;
    /*min-height: 65px;
    height: auto !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    */

    height: 65px;
    display: block;
}

.block-ellipsis {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 50px;
  /*margin: 0 auto;
  font-size: 14px;
  line-height: 1;*/
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-relate  .card_footer {
  border: 1px solid #e6e6e6;
  border-top: 0px;
}

.desc-footer, .search-header {
  border-left: 3px solid #9ba6b5;
  padding-left: 5px;
  line-height: 16px;
}

.search-header {
  margin-left: 5px;
  border-left: 3px solid #9ba6b5;
}

.desc-footer a {
  color: #8d959c;
}

.desc-footer a:hover {
  color: #333;
}

/*
.card-relate-row {
  position: relative;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

.relate .brief .card-relate-body {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    font-size: 1em;
}

.relate .footer-relate {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 0.9em;
}

.relate .brief .card-relate-footer {
    width: 100%;
    font-size: 0.8em;
    height: 30px;
    line-height: 30px;
    position: absolute;
    bottom: 0;
}

.card-relate-footer a.text-master {
  color: #8d959c !important;
}

.card-relate-footer a.text-master:hover {
  color: #3af !important;
}

.card-relate-footer a.text-master.heart:hover {
    color: #EB0188 !important;
}

.relate .thumb, .relate .brief {
  padding: 0px;
}

.relate .thumb {
  min-height: 100px;
  position: relative;
  overflow: hidden;
}

.relate .thumb img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  min-width: 100%;
  width: auto !important;
  width: 100%;

  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.relate .brief {
  height: 100%;
  position: relative;
}

.relate .padding-right-active {
  padding-right: 0px;
}
*/

.card .gallery-item {
  margin: 0 auto;
  /* old ok, 2016-05-23
  width: 620px;
  height: 485px;
  */
  width: 100%;
  height: auto;
}

/* social card */
@media (min-width: 1600px) { /* max 2160 */
  .feed {
    width: 1600px;
    margin: 0 auto;
    /*background: #09f;*/
  }
}

@media (max-width: 1750px) { /* 1600px */
  .feed {
    width: 1280px;
    margin: 0 auto;
    /*background: #095;*/
  }
}

@media (max-width: 1400px) { /* 1280 */
  .feed {
    width: 960px;
    margin: 0 auto;
    /*background: #099;*/
  }
}

@media (max-width: 1080px) { /* 960 */
  .feed {
    width: 640px; /* old ok 2016-05-23 */
    /*width: 100%;*/
    margin: 0 auto;
    /*background: #f00;*/
  }
}

@media (max-width: 767px){
  .feed {
    width: 640px;
    margin: 0 auto;
    /*background: #F68C1F;*/
  }

  .feed .card {
    left: 0px;
  }

  .col1-element, .col2-element {
    width: 640px;
    margin-left: 0;
    margin-right: 0;
  }

  h2, .windows h2 {
    font-size: 1.6em;
    line-height: 26px;
  }

  h3, .windows h3, h4, .windows h4, h5, windows.h5 {
    font-size: 1.2em;
    line-height: 20px;
    font-weight: 400;
  }

  .breadcrumb {
    padding: 8px 0;
  }

  .map-canvas {
    height: 360px;
  }

  ul.breadcrumb > li {
    line-height: 18px;
  }

}

@media (max-width: 670px) { /* 640 */
  .feed {
    width: 540px;
    margin: 0 auto;
    /*background: #EB008C;*/
  }

  .col1-element .col2-element {
    width: 540px;
  }
}

@media (max-width: 560px) {
  .feed {
    /*width: 300px;*/
    width: 100%;
    margin: 0 auto;
    /*background: #f00;*/
  }

  .col1-element, .col2-element {
    /*width: 300px;*/
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
/* end social card */


/* other */
@media (max-width: 992px) {
  .relate .padding-right-active {
    padding-right: 15px;
  }
}

/* side bar */
@media (max-width: 991px) {

  .body-brief {
    padding-left: 15px;
  }

  .overlay {
    padding-left: 15px;
    padding-right: 15px;
  }

  body #overlay-search, .overlay .overlay-search {
      font-size: 30px;
      height: 90px;
      line-height: 90px;
      padding-left: 5px !important;
  }

  .row_result .result-title, .row_result_map .result-title {
    font-size: 0.8em;
  }

  .semi-bold {
    font-weight: 600 !important;
  }

  .windows h5 {
    line-height: 18px;
  }

  body.sidebar-open .page-container {
    /*-webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
    -ms-transform: translate(0px, 0);
    overflow: hidden;
    position: fixed;*/
  }


  /*.social-wrapper {
      transition: transform 0.25s ease 0s;
  }*/

  /*
  body.sidebar-open .page-content-wrapper .content {
    -webkit-transform: translate3d(10%, 0, 0);
    transform: translate3d(10%, 0, 0);
    -ms-transform: translate(10%, 0);
  }
  */

  /*.page-sidebar .sidebar-menu .menu-items > li:first-child {
    margin-top: 15px;
  }

  body.menu-behind .page-sidebar {
    z-index: 799;
  }

  .header {
    z-index: 800;
    border-bottom: 1px solid rgba(213, 218, 219, 0.7);
  }

  .page-sidebar {
      margin-top: 0px;
      display: block;
      transform: translateX(-100%) !important;
      -webkit-transform: translate3d(-100%, 0px, 0px) !important;
      transform: translate3d(-100%, 0px, 0px) !important;
      transition: transform 0.25s ease 0s;
    }

  .page-sidebar.visible {
      transform: translateX(0%) !important;
      -webkit-transform: translate3d(0%, 0px, 0px) !important;
      transform: translate3d(0px, 0px, 0px) !important;
  }
  */

  .page-sidebar .sidebar-menu .menu-items > li > span.title-header-category {
    padding-left: 20px;
  }

  body .header .search-link {
    display: inline;
    margin-left: 0;
    padding-top: -10px;
  }

  body .header .search-link i {
    margin-right: 5px;
  }

  body.menu-behind .header .brand {
      margin-left:  0;
      border-right: 0 none;
  }

  .register-container.form-contact {
      width: 100%;
  }

  /*.breadcrumb-header .bread_cate_name, .breadcrumb-header .bread_tag_name {
    font-size: 1.2em;
    line-height: 40px;
  }
  */
}

@media (max-width: 767px) {
  .event-gallery .dialog__content .dialog__overview {
    height: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  .quickview-wrapper.maps {
    top: 48px;
  }

  .feed .day-list {
    padding-left: 0;
  }

  .social-wrapper .social .feed > .day {
    width: 100%;
  }

  body .header .search-link {
    display: inline;
    margin-left: 0;
    padding-top: -10px;
  }

  body .header .search-link i {
    margin-right: 5px;
  }

  .nav-follow-footer {
    text-align: center;
  }

  body #overlay-search, .overlay .overlay-search {
      font-size: 30px;
      height: 60px;
      line-height: 60px;
      padding-left: 5px !important;
  }

  .nav-logo > a {
    margin-left: 10px;
  }
}

@media (max-width: 767px){
  .card.col1, .card.col2 {
    width: 100% !important;
    margin: 0 auto;
    float: left;
    margin-bottom: 20px;
  }

  .card .gallery-item {
    height: 50%;
    width: 100%;
  }
}

@media (max-width: 667px) {
  .social .day {
    margin: 0 auto;
    text-align: center;
  }

  .feed .card {
    margin-right: 0;
  }

  .feed .day-list {
      margin-left: 0;
  }

  .map-full {
    height: 480px; width: 100%;
  }

  /*.map-container .map-full {
    height: 100% !important;
  }*/

  .gradient-grey {
    font-size: 0.7em;
  }
}

@media (max-width: 467px) {
  .card .gallery-item {
    width: 50vw;
    height: 50vh;
  }
}

@media all and (max-width: 467px), (max-width: 820px) and (min-width: 770px),(min-width: 805px) {
  .card-relate-footer .text-master span {
    display: none;
  }
}

@media all and (min-width: 1400px) {
  .card-relate-footer .text-master span {
    display: inline-block;
  }

  .card-relate-footer .text-master span {
    display: none; /* hidden under constructor*/
  }
}

@media all and (min-width: 992px) and (max-width: 1100px){
  .event-relate .col-relate {
    width: 100%;
  }

  .card-relate-footer .text-master span {
    display: inline-block;
  }

  .card-relate-footer .text-master span {
    display: none; /* hidden under constructor*/
  }

  .card-relate-row .thumb {
    width: 16.6667%;
  }

  .card-relate-row .footer-relate {
    width: 83.3333%;
  }
}

@media screen and (max-height: 575px){
  #rc-imageselect, .g-recaptcha {transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;}
}

/* 2016-05-23 new layout */
.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}
